.button {
  padding: 16px 32px;
  background-color: transparent;
  font-weight: 900;
  font-family: var(--featured-font-family);
  font-size: 1.25rem;
  line-height: 1.1;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.6s, background 0.6s;
}

.button:hover {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}
