.button {
  padding: 16px 32px;

  background-color: transparent;

  font: 900 1.25rem/1.1 var(--featured-font-family);
  text-transform: uppercase;

  cursor: pointer;
  transition: color 0.6s, background 0.6s;
}

.button:hover {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}

@media (max-width: 600px) {
  .button {
    font-size: 0.9rem;
  }
}
