body,
html,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  transition: 1s;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

section {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 40px;
}

.characters {
  width: 100%;
  max-width: 900px;
  margin: auto;

  position: absolute;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    gap: 40px;
  }
}

.dark-theme img,
.dark-theme .header-content p {
  transform: rotateZ(180deg) scaleX(-1);
}

.dark-theme h2,
.dark-theme h3 {
  letter-spacing: 5px;
  font-weight: normal;
}
