body,
html,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  transition: 1s;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

section {
  width: 100%;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding-inline: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characters {
  margin: auto;
  width: 100%;
  max-width: 900px;
  position: absolute;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    gap: 40px;
  }
}
