body,
html,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  transition: 1s;
}

.container {
  max-width: 1200px;
}

.characters {
  margin: auto;
  width: 100%;
  max-width: 900px;
  position: absolute;
}
