#section-form .container {
  justify-content: center;
  flex-direction: column;
}

#section-form h2 {
  max-width: 20ch;
  text-align: center;
}

#section-form p {
  text-align: center;
}

#section-form .form-content {
  width: 100%;

  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section-form .form-content h3 {
  max-width: 400px;
  color: var(--highlight-color);
}

#section-form .form-content h3 span {
  color: var(--primary-color);
}

#section-form .form-content form {
  width: 100%;
  flex-basis: 50%;
  margin-right: 24px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--primary-color);
  color: var(--primary-color-contrast);

  text-align: left;

  position: relative;
}

#section-form .form-content form::after {
  content: "";
  width: 100%;
  height: 100%;

  background-color: var(--highlight-color);

  position: absolute;
  top: 24px;
  left: 24px;
  z-index: -1;
}

label {
  margin-bottom: 8px;
}

input,
textarea {
  margin-bottom: 24px;
  padding: 8px;

  border: 2px solid var(--primary-color-contrast);
  background-color: var(--field-background-color);
  color: var(--primary-color-contrast);
}

input[type="button"] {
  max-width: 300px;

  align-self: center;
  border: none;

  background-color: var(--field-background-color);
  color: var(--primary-color-contrast);
}

input[type="button"]:hover {
  background-color: var(--primary-color-contrast);
  color: var(--field-background-color);
}

.container-message-form {
  margin: 30px;

  position: fixed;
  top: 0;
  right: 0;

  transition: 1s;

  opacity: 1;
  transform: translateX(400px);
}

.container-message-form.sucess {
  transform: translateX(0px);
}

.message-form {
  display: block;
  padding: 20px;

  background-color: var(--primary-color);
  color: var(--primary-color-contrast);

  position: relative;
  top: 0;
  right: 0;
}

.message-form::after {
  content: "";
  width: 100%;
  height: 100%;

  background-color: var(--highlight-color);

  position: absolute;
  top: 12px;
  left: 12px;
  z-index: -2;
}
