header {
  background-color: var(--header-background-color);

  position: relative;

  min-height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("../images/background/florest.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 90%;
  filter: saturate(0);
  opacity: 0.2;
}

.header-content {
  max-width: 700px;
  padding: 80px 20px;

  text-align: center;
  z-index: 2;
}

.header-content img {
  width: 80%;
}

.header-content p {
  margin: 30px 0 50px;
}

.header-content button {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}

.characters#top-characters {
  height: 100%;
  background-color: var(--character-top-image-color);
  mask: var(--character-top-image-src) bottom / contain no-repeat;
  -webkit-mask: var(--character-top-image-src) bottom / 100% no-repeat;

  bottom: -3px;
}

body {
  margin-bottom: 600px;
}
