.characters#bottom-characters {
  height: 500px;
  transform: rotate(180deg) scaleX(-1);
  background-color: var(--character-bottom-image-color);
  mask: var(--character-bottom-image-src) bottom / 100% no-repeat;
  -webkit-mask: var(--character-bottom-image-src) bottom / 100% no-repeat;
  position: relative;
  top: 0px;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--page-background) no-repeat,
    url("../images/background/florest-bottom.png") no-repeat;
  background-size: cover;
  z-index: -1;
}

section {
  margin-bottom: 80px;
}

.container .section-texts {
  width: 50%;
}

#section-stranger-things-trailer .container {
  gap: 40px;
  align-items: stretch;
}

#section-stranger-things-trailer .video-frame {
  width: 500px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

#section-stranger-things-trailer .video-frame iframe {
  width: 100%;
  height: 100%;

  position: relative;
  bottom: 24px;
  left: 24px;

  box-shadow: 0px 0px 2px 1px var(--highlight-color);
}

#section-stranger-things-trailer .section-texts {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: stretch;
  text-align: right;
}

#section-stranger-things-trailer .section-texts h2 {
  max-width: 425px;
}

#section-stranger-thins-gallery {
  background: var(--background-lamp-image) 120% / 50% no-repeat;
  justify-content: flex-start;
}

#section-stranger-thins-gallery .container {
  flex-direction: column;
  align-items: flex-start;
}

#section-stranger-thins-gallery .container h2 {
  max-width: 800px;
  margin-bottom: 80px;
}

#section-stranger-thins-gallery .container div {
  width: 100%;
  overflow: auto;
}

#section-stranger-thins-gallery ul {
  display: flex;
  gap: 50px;
  width: fit-content;
  padding-block: 20px;
  padding-inline: 20px;
}

#section-stranger-thins-gallery ul li {
  width: 250px;
  height: 250px;
  outline: 20px solid var(--highlight-color);
  border: 3px solid var(--primary-color);
  box-sizing: initial;
}

#section-stranger-thins-gallery ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section-form .container {
  justify-content: center;
  flex-direction: column;
}

#section-form h2 {
  max-width: 20ch;
  text-align: center;
}

#section-form p {
  text-align: center;
}

#section-form .form-content {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section-form .form-content h3 {
  max-width: 400px;
  color: var(--highlight-color);
}

#section-form .form-content h3 span {
  color: var(--primary-color);
}

#section-form .form-content form {
  width: 100%;

  flex-basis: 50%;

  margin-right: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
  text-align: left;

  position: relative;
}

#section-form .form-content form::after {
  content: "";
  background-color: var(--highlight-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: -1;
}

label {
  margin-bottom: 8px;
}

input,
textarea {
  margin-bottom: 24px;
  border: 2px solid var(--primary-color-contrast);
  background-color: var(--field-background-color);
  color: var(--primary-color-contrast);
  padding: 8px;
}

input[type="button"] {
  align-self: center;
  border: none;
  background-color: var(--field-background-color);
  color: var(--primary-color-contrast);
  max-width: 300px;
}

input[type="button"]:hover {
  background-color: var(--primary-color-contrast);
  color: var(--field-background-color);
}

.dark-theme img,
.dark-theme .header-content p {
  transform: rotateZ(180deg) scaleX(-1);
}

.dark-theme h2,
.dark-theme h3 {
  letter-spacing: 5px;
  font-weight: normal;
}

@media (max-width: 800px) {
  .container .section-texts {
    width: 100%;
    text-align: center;
  }

  #section-stranger-things-trailer .section-texts {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  #section-form .form-content {
    flex-direction: column;
  }

  #section-form .form-content h3 {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .characters#bottom-characters {
    height: 350px;
  }

  #section-stranger-things-trailer .video-frame {
    width: 300px;
    height: 150px;
  }
}

@media (max-width: 400px) {
  #section-stranger-things-trailer .video-frame {
    width: 250px;
    height: 200px;
  }
}
