@media (max-width: 800px) {
  .container .section-texts {
    width: 100%;
    text-align: center;
  }

  .container h2 {
    text-align: center;
  }

  #section-form .form-content {
    flex-direction: column;
  }

  #section-form .form-content h3 {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .characters#bottom-characters {
    height: 350px;
  }

  #section-stranger-things-trailer .video-frame {
    width: 300px;
    height: 150px;
  }
}

@media (max-width: 400px) {
  #section-stranger-things-trailer .video-frame {
    width: 250px;
    height: 200px;
  }
}
